<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar  color="dark">
    <ion-title>Actividades</ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="refrescar()" expand="block" fill="clear" shape="round">
        <ion-icon name="refresh-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
<!-- SIN INFINITE SCROLL Y SIN REFRESHER PORQUE ME CAMBIA LA DATA SI TRABAJO CON EL STORAGE --> 
  
    <ion-list>
      <ion-item-sliding *ngFor="let actividad of actividades">     

              <ion-item-options side="start">                
                <ion-item-option (click)="updateEstado(actividad)" color="success">
                  <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <ion-item>

                <ion-card color="dark" class="ion-padding card">
                  <ion-card-title *ngFor="let categoria of categorias">
                    <h6 *ngIf="categoria.id === actividad.categoria_id">{{ categoria.nombre }}</h6>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <span>
                      <small>
                        {{ actividad.nombre }}
                      </small>                      
                    </span>
                    {{ actividad.descripcion }}
                  </ion-card-subtitle>
                </ion-card>

                <ion-card color="light" class="ion-padding card" *ngIf="actividad.tipo == 2">
                  <ion-card-title *ngFor="let categoria of categorias">
                    <h6 *ngIf="categoria.id === actividad.categoria_id">{{ categoria.nombre }}</h6>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <span>
                      <small>
                        {{ actividad.nombre }} 
                      </small>
                    </span>
                    {{ actividad.descripcion }}
                  </ion-card-subtitle>
                </ion-card>

                <ion-card-content *ngIf="actualizando">
                  <ion-spinner *ngIf="actualizando" color="primary" name="bubbles"></ion-spinner>
                </ion-card-content>

                <ion-card-content *ngIf="actividad.estado !== 1">                  
                  <ion-icon slot="icon-only" name="checkmark-circle" *ngIf="actividad.estado === 2" color="success"></ion-icon>
                  <ion-icon slot="icon-only" name="list-outline" *ngIf="actividad.estado === 1" color="tertiary"></ion-icon>
                </ion-card-content>

              </ion-item>


      </ion-item-sliding>
    </ion-list>
   

</ion-content>
